<div class="lott-data-container {$line_split} line">
	<div class="lott-data-no bold-header-col">{$no}</div>
	<div class="bet-col bet0">{$bet0}</div>
	<div class="bet-col bet1">{$bet1}</div>
	<div class="bet-col bet2">{$bet2}</div>
	<div class="bet-col bet3">{$bet3}</div>
	<div class="bet-col bet4">{$bet4}</div>
	<div class="bet-col bet5">{$bet5}</div>
	<div class="bet-col bet6">{$bet6}</div>
	<div class="bet-col bet7">{$bet7}</div>
	<div class="bet-col bet8">{$bet8}</div>
	<div class="bet-col bet9">{$bet9}</div>
</div>