<div class="lott-data-container {$line_split} line line_{$index}">
	<div class="lott-data-no bold-header-col">{$no}</div>
	<div class="qm b0 {$hilight_center_content_0} qm_center_content" style="{$hilight_content_style_0}">{$b0}</div>
	<div class="qm b1 {$hilight_center_content_1} qm_center_content" style="{$hilight_content_style_1}">{$b1}</div>
	<div class="qm b2 {$hilight_center_content_2} qm_center_content" style="{$hilight_content_style_2}">{$b2}</div>
	<div class="qm b3 {$hilight_center_content_3} qm_center_content" style="{$hilight_content_style_3}">{$b3}</div>
	<div class="qm b4 {$hilight_center_content_4} qm_center_content" style="{$hilight_content_style_4}">{$b4}</div>
	<div class="qm b5 {$hilight_center_content_5} qm_center_content" style="{$hilight_content_style_5}">{$b5}</div>
	<div class="qm b6 {$hilight_center_content_6} qm_center_content" style="{$hilight_content_style_6}">{$b6}</div>
	<div class="qm b7 {$hilight_center_content_7} qm_center_content" style="{$hilight_content_style_7}">{$b7}</div>
	<div class="qm b8 {$hilight_center_content_8} qm_center_content" style="{$hilight_content_style_8}">{$b8}</div>
	<div class="qm b9 {$hilight_center_content_9} qm_center_content" style="{$hilight_content_style_9}">{$b9}</div>
</div>