<div class="lott-data-container {$line_split} line">
	<div class="lott-data-no bold-header-col">{$no}</div>
	<div class="qm b0 {$hilight_center_content_0}">{$b0}</div>
	<div class="qm b1 {$hilight_center_content_1}">{$b1}</div>
	<div class="qm b2 {$hilight_center_content_2}">{$b2}</div>
	<div class="qm b3 {$hilight_center_content_3}">{$b3}</div>
	<div class="qm b4 {$hilight_center_content_4}">{$b4}</div>
	<div class="qm b5 {$hilight_center_content_5}">{$b5}</div>
	<div class="qm b6 {$hilight_center_content_6}">{$b6}</div>
	<div class="qm b7 {$hilight_center_content_7}">{$b7}</div>
	<div class="qm b8 {$hilight_center_content_8}">{$b8}</div>
	<div class="qm b9 {$hilight_center_content_9}">{$b9}</div>
</div>